* {
  margin: 0;
  padding: 0;
}

.page,
.page-body {
  height: 100%;
}

.page-body {
  font-family: sans-serif;
}

.page-header {
  margin-bottom: 49px;
}

.page-main {
  margin-bottom: 40px;
}

.page-footer {
  margin-top: 99px;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29.5px 330px;
}

.navbar-list {
  display: flex;
  text-align: center;
}

.navbar-list-item {
  margin-right: 72px;
}

.navbar-list li {
  display: inline-block;
  vertical-align: middle;
}

.theme-btn {
  margin-left: 220px;
  min-width: 100px;
  min-height: 30px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

ul > li:nth-child(3) {
  margin-right: 50px;
}

ul > li:last-child {
  margin-right: 0;
}

.navbar-list-link {
  color: #ff0000;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-picture {
  max-width: 100%;
  height: auto;
}

.main-content {
  text-align: center;
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
}

.main-content-title {
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 38px;
}

.main-content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  text-align: center;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
}

.btn-wrapper {
  margin-top: 84px;
}

.link-like-button {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  padding: 18px 43.5px 17px 42.5px;
  text-decoration: none;
}

.page-footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-bottom: 29px;
  padding-left: 713px;
}

.night-theme {
  background-color: black;
  color: rgb(255, 255, 255);
}
