html {
  width: 100%;
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-header {
  display: flex;
  flex-direction: column;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #313131;
}

.logo-link {
  text-decoration: none;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  margin-left: 29px;
}

.logo-caption {
  margin: 0 0 0 27px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.header-nav {
  margin: 25px 0;
}

.header-nav-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}

.nav-list-item {
  margin: 0 17.5px;
}

.nav-list-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.nav-list-link:hover {
  color: #14b9d5;
}

.search-box {
  padding: 24.5px;
  background: #000000;
}

.search-icon {
  cursor: pointer;
}

.search-icon:hover {
  transform: scale(1.3);
}

.parallax-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parallax-header {
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 140%;
}

.subscribe-title {
  margin: 160px 0 44px 0;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.subscribe-buttons-wrapper {
  margin-bottom: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 15px 20px;
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.subscribe-btn {
  background: #89ca62;
}

.subscribe-btn:hover {
  background: #72af4e;
}

.best-articles-btn {
  background: #14b9d5;
  padding-left: 30px;
  padding-right: 29px;
}

.best-articles-btn:hover {
  background: #1197af;
}

.most-popular-post-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 49px 0 74px;
}

.section-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  margin: 0 0 52px;
}

.hotels-cards-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-cards-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
}

.hotel-card {
  margin-bottom: 31px;
}

.hotel-card-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.hotel-card-box {
  padding: 0;
  margin: 0;
}

.hotel-card-description {
  padding: 21px 0;
  margin-top: -6px;
  text-align: center;
  background: #ffffff;
}

.most-popular-clients-section {
  display: grid;
  justify-items: center;
  background-image: url(../img/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 192px;
}

.clients-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 107px 58px;
  margin-top: 96px;
}

.title-wrapper {
  grid-column: 1/5;
}

.clients-section-title {
  margin: 0 0 75px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-separator {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

.top-rated-section {
  text-align: center;
  margin: 38px 0 48px;
}

.top-rated-grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: start;
  row-gap: 20px;
}

.top-rated-image {
  transition: ease 0.2s;
}

.top-rated-image:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
  box-shadow: 0 15px 10px #6b4623c2;
}

.hot-news {
  display: grid;
  justify-items: center;
  text-align: center;
}

.news-grid-wrapper {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 42px;
}

.news-box {
  display: grid;
  grid-auto-flow: column;
}

.margin-right {
  margin-right: 35px;
}

.margin-left {
  margin-right: 35px;
}

.margin-between {
  margin-right: 60px;
}

.news-figure-box {
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-content {
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
  padding: 0;
  margin: 32px 24px 0;
}

.news-figure-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  padding: 0;
  margin: 7px;
}

.title-right {
  text-align: right;
  margin-right: 14px;
}

.news-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  margin: 0;
  margin: 10px 14px;
}

.extra-text-margin {
  margin: 10px 24px 0 13px;
}

.news-figure {
  margin: 0;
}

.page-footer {
  display: grid;
  justify-items: center;
  background-color: #000000;
  margin-top: 35px;
}

.footer-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.copyrigt {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  justify-self: start;
  margin: 29px 0 30px;
}

.footer-logo-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
}
