body {
  overflow: hidden;
  font-family: sans-serif;
  background: rgb(20, 8, 8);
  position: relative;
}

.container {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 850px;
}

.wrapper {
  color: coral;
  font-size: 4vw;
  line-height: 1.5em;
  font-weight: bold;
  position: relative;
  animation-name: starwars;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

h1,
h2 {
  text-align: center;
}

@keyframes starwars {
  from {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -4000px;
    transform: translateZ(-1200px) rotateX(21deg);
  }
}
