@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

html {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  height: 3.6em;
  background: rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 14px 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  transition: ease 0.2s;
}

.header-title:hover {
  color: #01813f;
  cursor: pointer;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  margin: 15.5px 0;
}

.header-nav-item:nth-child(1) {
  margin-right: 27px;
}

.header-nav-item:nth-child(2) {
  margin-right: 24px;
}

.header-nav-item:nth-child(3) {
  margin-right: 25px;
}

.header-nav-item:nth-child(4) {
  padding-left: 27px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.nav-link {
  display: block;
}

.icon-color {
  transition: ease 0.4s;
}

.nav-link-icon:hover .icon-color {
  fill: #01813f;
}

.login-signup a {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}

.hovered-link:hover {
  color: #01813f;
}

.page-main {
  display: flex;
  height: calc(100% - 3.6em);
  justify-content: center;
  align-items: center;
}

.page-main a {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}

.page-main a:hover {
  text-decoration: underline;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  max-height: 100%;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 31px 60px 15px;
}

.form-titile {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.alt-login {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

.facebook-login {
  display: flex;
  width: 160px;
  align-items: center;
  background: #305db8;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 12px 22px 12px 16px;
  transition: ease 0.3s;
}

.facebook-icon {
  padding-right: 18px;
  margin-right: 18px;
  border-right: 1px solid #0a162f33;
}

.facebook-login:hover {
  background: #022263;
}

.google-login {
  display: flex;
  width: 160px;
  align-items: center;
  background: #df4a32;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 12px 27px 12px 12px;
  transition: ease 0.3s;
}

.google-icon {
  padding-right: 7px;
  margin-right: 30px;
  border-right: 1px solid #0a162f33;
}

.google-login:hover {
  background: #ab1f09;
}

.accent-line {
  width: 324px;
  height: 1px;
  border: none;
  background-color: #f2f2f2;
  margin: 40px 60px 16px;
}

.sign-up-form::before {
  position: absolute;
  content: "or";
  background: #ffffff;
  top: -26px;
  left: 46%;
  padding: 0 2px 0 5px;
}

.sign-up-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 60px 38px;
}

.form-input {
  font-family: "Ubuntu", sans-serif;
  outline: none;
  margin-top: 15px;
  padding: 16px 20px;
  width: 282px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #434343;
}

.form-input::placeholder {
  font-family: "Ubuntu", sans-serif;
}

.form-input:first-child {
  margin-top: 0;
}
.form-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-wrapper {
  display: flex;
}

.terms-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.terms-checkbox + label {
  position: relative;
  padding: 0 0 0 28px;
  cursor: pointer;
}

.terms-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
}

.terms-checkbox + label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
}

.terms-checkbox:checked + label:after {
  background-image: url(../img/cb1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.terms-and-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 20px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.terms {
  margin-left: 4px;
}

.submit-button {
  width: 100%;
  background: #3d9165;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 16px 0;
  cursor: pointer;
  transition: ease 0.3s;
}

.submit-button:hover {
  background: #01813f;
}
