html {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1027px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 51px 0 17px;
}

.logo-link {
  text-decoration: none;
  margin-bottom: 9px;
}

.logo-wrapper {
  display: flex;
  align-items: flex-end;
}

.logo-wrapper:hover .logo-title {
  color: #f26522;
}
.logo-wrapper:hover .logo-image {
  display: none;
}

.logo-wrapper:hover .hidden {
  display: block;
}

.logo-image {
  overflow: visible;
  margin: 0 8px 3px 0;
}

.hidden {
  display: none;
}

.logo-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.logo-title-small {
  font-size: 18px;
  line-height: 18px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.contacts a {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.email:hover {
  color: #f26522;
}

.phone:hover {
  color: #f26522;
}

.grid-container {
  display: grid;
  column-gap: 65px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}

.grid-item-1 {
  grid-area: item1;
}

.grid-item-2 {
  grid-area: item2;
}

.grid-item-3 {
  grid-area: item3;
}

.grid-item-4 {
  grid-area: item4;
}

.grid-item-5 {
  grid-area: item5;
}

.grid-item-6 {
  grid-area: item6;
}

.service-link {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.figure-hover {
  position: relative;
}

.service-link-hover {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 40px;
  background: #f26522;
  opacity: 10%;
  transition: height 0.5s, opacity 0.2s ease-in;
}

.service-link:hover .service-link-hover {
  font-size: large;
  height: 25%;
  opacity: 100%;
}

.service-link:hover .link-title {
  color: #f26522;
}

.price {
  margin: 0 0 12px 16px;
  font-size: 20px;
  line-height: 20px;
}

.price::before {
  content: "from";
  position: absolute;
  top: 10px;
  font-size: 10px;
  line-height: 10px;
}

.details {
  margin: 0 21px 14px;
  font-size: 14px;
  line-height: 14px;
}

.details::after {
  content: url(../img/Vector.svg);
  margin-left: 16px;
}

.opacity {
  opacity: 0;
  color: #ffffff;
  transition: ease-out 0.5s;
}

.service-link:hover .opacity {
  opacity: 100;
}

.service-image {
  margin-bottom: 20px;
}

.link-title {
  text-align: center;
  margin-bottom: 37px;
}

.page-footer {
  margin-top: 12px;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}
