body {
  font-family: sans-serif;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}

.page-header {
  margin-bottom: 50px;
}

.page-title {
  margin: 60px 0 38px 0;
  font-size: 80px;
  line-height: 94px;
  font-weight: normal;
}

.page-title-link {
  color: #4bc9ff;
  text-decoration: none;
}

.accent-color {
  color: #000;
}

.header-nav {
  background-color: #35444f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-list {
  margin: 0 0 0 50px;
  padding: 0;
}

.header-nav-item {
  height: 100%;
  padding: 26px 0 19px 0;
  margin-right: -4px;
  display: inline-block;
  border-left: 1px solid #fff;
}

.header-nav-item:hover {
  background-color: #222f3a;
}

.header-nav-link {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.small-padding-link {
  padding: 0 32px 0 33px;
}

.medium-padding-link {
  padding: 0 40px;
}

.side-menu {
  border: 1px solid #000;
  min-width: 344px;
  margin-right: 52px;
}

.side-menu-nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.side-menu-nav-item {
  padding: 26px 44px;
  transition: ease 0.4s;
}

.side-menu-nav-item:hover {
  color: #35444f;
  background-color: #dbdbdb;
  padding-left: 70px;
  transition: ease 0.4s;
}

.side-menu-nav-link {
  display: block;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
}

.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 885px;
}

.image-wrapper {
  margin-bottom: 37px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  overflow: hidden;
}

.main-image {
  margin: 75px 0 73px;
  transition: all 0.5s;
}

.image-wrapper:hover .main-image {
  transform: scale(1.5);
  transition: all 0.5s;
}

.text-item {
  margin-bottom: 34px;
  margin-top: 0;
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
}

.page-footer {
  margin: 20px 0 30px;
}

.footer-nav {
  background-color: #63696e57;
}

.footer-nav-list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.footer-nav-item {
  padding-left: 40px;
  transition: ease 0.4s;
}

.footer-nav-link {
  padding-bottom: 8px;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
}

.footer-nav-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright-wrapper {
  margin: 25.5px 0 25.5px auto;
}

.copyright-text {
  margin: 0 40px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
